.logo{
    font-family: cursive;
    font-size: larger;
}

#iconNav{
    /* border-bottom: 1px solid red; */
}
#navicon{
    transition: transform 0.3s;
    
}

#navicon:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.active{
    border-bottom: 4px solid red !important;
    font-weight: 500;
    
}