<div class="container-fluid p-2">

    <form [formGroup]="signUpForm">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">User Name</label>
            <input type="text" class="form-control" id="id1" formControlName="username">
          </div> 
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="id2" formControlName="password">
          </div> 

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="id3" aria-describedby="emailHelp" formControlName="mail">
          <div id="emailHelp" class="form-text">We will never share your Mail-ID for small money</div>
        </div>
        
        
          
        <label for="id" class="form-label">Mobile</label>
        <div class="input-group mb-3">
           
            <input type="text" class="form-control" placeholder="Mobile Number" aria-label="Recipient's username" aria-describedby="button-addon2" formControlName="mobile">
            <button class="btn btn-outline-secondary" type="button" id="id5" *ngIf="!displayVerifybtn" (click)="getOtp()" [disabled]="signUpForm.get('mobile')?.invalid">Get-OTP</button>
            <button class="btn btn-outline-secondary" type="button" id="id6" *ngIf="displayVerifybtn" (click)="VerifyOtp()">Verify-OTP</button>
            <span *ngIf="signUpForm.get('VerifiedOTP')?.value"><i class="bi bi-check-circle"></i></span>
          </div>
          <div class="mb-3" *ngIf="displayOtpInput">
            <label for="exampleInputPassword1" class="form-label" >OTP</label>
            <input type="text" class="form-control" id="id7" (input)="matchOtp($event)">
          </div>
       
        <div class="mb-3 text-center">
        <button type="submit" class="btn btn-secondary border px-5">SignUp</button>
        <button type="submit" class="btn btn-secondary border px-5" (click)="navigatetoSignIn()" >LogIn</button>
        </div>
      </form>
    </div>
